<div class="container-fluid">
  <div class="row">
    <div
      class="col align-self-start col col-6 col-sm-6 offset-sm-1 offset-1 mt-4 mb-4"
    >
      <h3>Relatório diário</h3>
    </div>
    <div class="col col-sm-4 mt-4">
      <a class="filtro" (click)="mostrarFiltros()"
        ><i
          ><img
            class="mx-2"
            src="../assets/filtro.svg"
            alt="Icone de filtro" /></i
      ></a>
      <label class="fw-medium" style="color: #021925">Filtro</label>
    </div>
  </div>

  <div class="row" *ngIf="this.mostrar">
    <div class="container-fluid">
      <form>
        <div class="row mb-2">
          <div
            class="col col-3 col-sm-3 offset-sm-1 offset-1 d-flex align-items-center"
          >
            <label>Sala: </label>
          </div>
          <div class="col col-sm-7 col-7">
            <input
              class="form-control"
              [(ngModel)]="seletor.sala"
              name="sala"
            />
          </div>
        </div>

        <div class="row mb-4">
          <div
            class="col col-3 col-sm-3 offset-sm-1 offset-1 d-flex align-items-center"
          >
            <label>Serviço realizado: </label>
          </div>
          <div class="col col-sm-7 col-7">
            <select
              class="form-select"
              name="atividade"
              [ngModelOptions]="{ standalone: true }"
              aria-placeholder="Selecione uma atividade"
              [(ngModel)]="seletor.atividade"
            >
              <option></option>
              <option *ngFor="let atividade of atividades">
                {{ atividade.descricao }}
              </option>
            </select>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col offset-1 fw-bold" style="color: #021925">
            <label>Período de desligamento: </label>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col col-1 col-sm-1 offset-sm-1 offset-1 d-flex align-items-center" style="color: #021925">
            <label>De: </label>
          </div>
          <div class="col col-sm-1">
            <input
              class="form-control border border-0"
              style="background: #dcf2fc; width: 90%;"
              name="dataDesligamentoInicio"
              type="datetime-local"
              [(ngModel)]="seletor.menorDataHoraFim"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col col-1 col-sm-1 offset-sm-1 offset-1 d-flex align-items-center" style="color: #021925">
            <label>Até: </label>
          </div>
          <div class="col col-sm-1">
            <input
              class="form-control border border-0"
              style="background: #dcf2fc; width: 90%;"
              name="dataDesligamentoFim"
              type="datetime-local"
              [(ngModel)]="seletor.maiorDataHoraFim"
            />
          </div>
        </div>

        <div class="row mb-2 mt-4">
          <div
            class="col col-sm-3 offset-sm-5 mb-4 d-flex justify-content-center"
          >
            <button
              id="btn-filtrar"
              class="btn fw-semibold"
              style="
                background: linear-gradient(180deg, #4ac9ff 0%, #06b5ec 100%);
                color: #00314d;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
              "
              type="submit"
              (click)="filtrarServico()"
            >
              Filtrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <table
        class="rounded-3 overflow-hidden table table-primary table-striped"
      >
        <thead>
          <tr>
            <th
              scope="col"
              class="text-center"
              style="background-color: #0c62a0; color: #e9f8ff"
            >
              Sala
            </th>
            <th
              scope="col"
              class="text-center"
              style="background-color: #0c62a0; color: #e9f8ff"
              colspan="2"
            >
              Atividade
            </th>
            <th
              scope="col"
              class="text-center"
              style="background-color: #0c62a0; color: #e9f8ff"
            >
              Data de serviço
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servico of servicos">
            <td class="text-center">{{ servico.sala.numero }}</td>
            <td class="text-center" colspan="2">
              <table class="table table-primary table-striped">
                <tr
                  class="text-center"
                  *ngFor="let atividade of servico.atividades"
                >
                  <td class="text-center">{{ atividade.descricao }}</td>
                </tr>
              </table>
            </td>
            <td class="text-center">
              {{ servico.dataHoraInicio | date : "HH:mm dd/MM/yyyy" }} <br>
              {{ servico.dataHoraFim | date : "HH:mm dd/MM/yyyy" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--TODO Descobrir quais os links que devo colocar no href-->
  <!-- <div class="row">
    <nav aria-label="Navegação">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a
            class="page-link border border-0 rounded-circle"
            href="#"
            aria-label="Anterior"
            style="background-color: #dcf2fc"
          >
            <span aria-hidden="true" style="color: #00314d">&#9666;</span>
          </a>
        </li>
        <li class="page-item">
          <a
            class="page-link border border-0 rounded-circle"
            style="color: #00314d; background-color: #caeaf8"
            href="#"
            >1</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link border border-0 rounded-circle"
            style="color: #00314d; background-color: #dcf2fc"
            href="#"
            >2</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link border border-0 rounded-circle"
            style="color: #00314d; background-color: #caeaf8"
            href="#"
            >3</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link border border-0 rounded-circle"
            href="#"
            aria-label="Próximo"
            style="background-color: #dcf2fc"
          >
            <span aria-hidden="true" style="color: #00314d">&#9656;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div> -->

  <div class="row">
    <div
      class="col col-4 col-sm-4 offset-sm-7 offset-7 d-flex justify-content-end"
    >
      <button
        id="btn-voltar"
        class="btn fw-semibold"
        style="
          background: linear-gradient(180deg, #4ac9ff 0%, #06b5ec 100%);
          color: #00314d;
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
        "
        onclick="voltarUsuario()"
        type="submit"
      >
        Voltar
      </button>
    </div>
  </div>
</div>
