<header>
  <h1>CADASTRO DE USUÁRIO</h1>
</header>
<form class="form-cadastro">
  <div class="form-item">
    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome" required="required" />
  </div>
  <div class="form-item">
    <label for="cpf">CPF: </label>
    <input
      type="text"
      name="cpf"
      id="cpf"
      placeholder="000.000.000-00"
      required="required"
    />
  </div>
  <div class="form-item">
    <label for="telefone">Telefone: </label>
    <input
      type="text"
      name="telefone"
      id="telefone"
      placeholder="(00) 00000-0000"
      required="required"
    />
  </div>
  <div class="form-item">
    <label for="dataNascimento">Data de Nascimento: </label>
    <input
      type="text"
      name="dataNascimento"
      id="dataNascimento"
      placeholder="00/00/0000"
      required="required"
    />
  </div>
  <div class="form-item">
    <label for="ctps">CTPS: </label>
    <input
      type="text"
      name="ctps"
      id="ctps"
      placeholder="0000000/0000"
      required="required"
    />
  </div>
  <div class="form-item">
    <label for="nivelAcesso">Nivel de Acesso: </label>
  </div>

  <div class="form-item">
    <label for="cargo">Cargo: </label>
    <select id="cargo" name="cargo">
      <option value="gerencia">Gerência</option>
      <option value="recursosHumanos">Recursos Humanos</option>
      <option value="faxineiro">Faxineiro</option>
      <option value="zelador">Zelador</option>
      <option value="tecnico">Técnico</option>
    </select>
  </div>

  <div class="form-item">
    <label for="matricula">Matricula: </label>
    <input
      type="text"
      name="matricula"
      id="matricula"
      placeholder="xxx-xxx"
      required="required"
    />
  </div>
  <div class="form-item">
    <label for="senha">Senha: </label>
    <input
      type="text"
      name="senha"
      id="senha"
      placeholder="xxxxxxxx"
      required="required"
    />
  </div>
  <button id="btn-salvar" class="btn" onclick="salvar()" type="button">
    cadastrar usuário
  </button>
</form>
-------------------------------------------------------------------------------------------
<br />
<div class="container-fluid container text-center">
  <form class="was-validated" #ngForm="ngForm">
    <div class="row">
      <h1>CADASTRO DE USUÁRIO</h1>
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input
          class="form-control"
          minlength="2"
          name="nome"
          [(ngModel)]="usuario.nome"
          required
        />
        <div class="valid-feedback">Válido.</div>
        <div class="invalid-feedback">
          Informe um nome com no mínimo 2 caracteres
        </div>
      </div>
    </div>
  </form>
</div>
