<br />
<div class="container-fluid">
  <form #ngForm="ngForm" novalidate>
    <div class="row mb-4 mt-4">
      <div
        class="col align-self-start col-md-6 offset-md-3"
        style="color: #021925"
      >
        <h3>CADASTRO DE USUÁRIO</h3>
      </div>
    </div>

    <!--NOME-->
    <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="nome">Nome: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            (!usuario.nome || (usuario.nome && usuario.nome.length < 3)) &&
            ngForm.submitted
              ? 'form-control is-invalid'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          name="nome"
          minlength="3"
          [(ngModel)]="usuario.nome"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.nome"
          class="text text-danger"
        >
          Informe um nome com no mínimo 2 caracteres
        </div>
      </div>
    </div>
    <!--CPF-->
    <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="cpf">CPF: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.cpf && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          placeholder="000.000.000-00"
          name="cpf"
          [inputMask]="mascaraCpf"
          [formControl]="cpf"
          [(ngModel)]="usuario.cpf"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.cpf"
          class="text text-danger"
        >
          CPF inválido!
        </div>
      </div>
    </div>

    <!--TELEFONE-->
    <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="telefone">Telefone: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.telefone && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          [inputMask]="mascaraTelefone"
          [formControl]="telefone"
          placeholder="(00) 00000-0000"
          name="telefone"
          [(ngModel)]="usuario.telefone"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.telefone"
          class="text text-danger"
        >
          Telefone inválido!
        </div>
      </div>
    </div>

    <!--DATA DE NASCIMENTO-->
    <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="dataNascimento">Data de Nascimento: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.dataNascimento && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          placeholder="dd/mm/aaaa"
          minlength="8"
          name="dataNascimento"
          type="date"
          [(ngModel)]="usuario.dataNascimento"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.dataNascimento"
          class="text text-danger"
        >
          Data inválida!
        </div>
      </div>
    </div>
    <!--CTPS-->
    <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="ctps">CTPS: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.ctps && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          placeholder="0000000/0000"
          [inputMask]="mascaraCtps"
          [formControl]="ctps"
          name="ctps"
          [(ngModel)]="usuario.ctps"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.ctps"
          class="text text-danger"
        >
          CTPS inválido!
        </div>
      </div>
    </div>
    <!--NIVEL DE ACESSO-->
    <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="nivelAcesso">Nível de Acesso: </label>
      </div>
      <div class="col col-sm-4">
        <select
          [ngClass]="
            !usuario.nivelAcesso && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-select border border-0"
          style="background: #e9f8ff"
          name="nivelAcesso"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="usuario.nivelAcesso"
          required
        >
          <option *ngFor="let nivelAcesso of niveis" [ngValue]="nivelAcesso">
            {{ nivelAcesso }}
          </option>
        </select>
        <div
          *ngIf="ngForm.submitted && !this.usuario.nivelAcesso"
          class="text text-danger"
        >
          Selecione um nível de acesso!
        </div>
      </div>
    </div>
    <!--CARGO-->
    <div class="row mb-4" style="color: #021925">
      <div class="col col-sm-2 offset-sm-3">
        <label for="cargo">Cargo: </label>
      </div>
      <div class="col col-sm-4">
        <select
          [ngClass]="
            !usuario.cargo && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-select border border-0"
          style="background: #e9f8ff"
          name="cargo"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="usuario.cargo"
          required
        >
          <option *ngFor="let cargo of cargos" [ngValue]="cargo">
            {{ cargo }}
          </option>
        </select>
        <div
          *ngIf="ngForm.submitted && !this.usuario.cargo"
          class="text text-danger"
        >
          Selecione um cargo!
        </div>
      </div>
    </div>
    <!--MATRICULA-->
    <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="matricula">Matrícula: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.matricula && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          name="matricula"
          [(ngModel)]="usuario.matricula"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.matricula"
          class="text text-danger"
        >
          Matrícula inválida!
        </div>
      </div>
    </div>
    <!--SENHA-->
    <div class="row mb-4">
      <div class="col col-sm-2 offset-sm-3" style="color: #021925">
        <label for="senha">Senha: </label>
      </div>
      <div class="col col-sm-4">
        <input
          [ngClass]="
            !usuario.senha && ngForm.submitted
              ? 'form-control border border-danger'
              : 'form-control'
          "
          class="form-control border border-0"
          style="background: #e9f8ff"
          minlength="8"
          name="senha"
          type="password"
          [(ngModel)]="usuario.senha"
          required
        />
        <div
          *ngIf="ngForm.submitted && !this.usuario.senha"
          class="text text-danger"
        >
          Senha inválida!
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col col-md-3 offset-md-6 d-flex justify-content-end">
        <button
          id="btn-salvar"
          class="btn fw-semibold"
          style="
            background: linear-gradient(180deg, #4ac9ff 0%, #06b5ec 100%);
            color: #00314d;
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
          "
          (click)="inserirUsuario(ngForm)"
          type="submit"
        >
          Cadastrar Usuário
        </button>
      </div>
    </div>
  </form>
</div>
