<!-- Telas normais (desktop) -->
<nav class="navbar d-none d-md-flex" style="background-color: #0c62a0">
  <div class="container-fluid px-5">
    <a class="navbar-brand" style="color: #e9f8ff" href="#"
      ><span class="align-middle"><img src="../assets/logo.svg" alt="" /></span
    ></a>
    <div>
      <ul class="navbar-nav flex-row p-2">
        <!-- Large and Medium Screens -->
        <li class="nav-item mx-2">
          <a class="nav-link active" style="color: #e9f8ff" href="dashboard/"
            >Home</a
          >
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" style="color: #e9f8ff" href="usuarios/cadastro"
            >Cadastro de Usuários</a
          >
        </li>
        <li class="nav-item mx-2">
          <a
            class="nav-link"
            style="color: #e9f8ff"
            href="servicos/listagem/gerencia"
            >Consulta de Serviços</a
          >
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" style="color: #e9f8ff" href="usuarios/listagem"
            >Consulta de Usuários</a
          >
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" style="color: #e9f8ff" href="servicos/ocorrencia"
            >Ocorrências</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Telas pequenas (mobile) -->
<nav
  class="navbar d-flex d-md-none fixed-bottom"
  style="background-color: #e9f8ff"
>
  <div class="container-fluid justify-content-center px-5 al">
    <div>
      <ul class="nav p-2">
        <li class="nav-item mx-3">
          <a class="nav-link active" style="color: #e9f8ff" href="#"
            ><i><img src="../assets/home-usuario.svg" alt="" /></i
          ></a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" style="color: #e9f8ff" href="servicos/cadastro"
            ><i><img src="../assets/registro-funcionario.svg" alt="" /></i
          ></a>
        </li>
        <li class="nav-item mx-3">
          <a
            class="nav-link"
            style="color: #e9f8ff"
            href="servicos/listagem/funcionario"
            ><i><img src="../assets/relatorio-funcionario.svg" alt="" /></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- TODO -->
<!-- <div class="row mb-2">
  <div class="col align-self-end col-md-1 offset-md-8">ICONE PERFIL</div>
</div> -->

<router-outlet></router-outlet>
